
<div class="filter-products container pt-3">
    <div class="d-flex justify-content-between align-items-center">
        <div>
            Tags
            @foreach (SelectListItem tag in ViewBag.Tags)
            {
                <!--//www.youtube.com/watch?v=YNKv02TK2xw 0:33-->
                <a class="tags border-none" asp-controller="products" asp-action="filtered" asp-route-selectedTags="@tag.Value">@tag.Text</a>
            }
        </div>
        <div>
            <label for="categories">Categories</label>
            <select id="categories" name="tags">
                @foreach (SelectListItem tag in ViewBag.Tags)
                {
                    <option value="@tag.Value">
                        <a class="border-none" asp-controller="products" asp-action="filtered" asp-route-selectedTags="@tag.Value">@tag.Text</a>
                    <!--//www.youtube.com/watch?v=YNKv02TK2xw 0:33-->
                    </option>
                }
            </select>
        </div>
    </div>
</div>
