@model ProductDetailsViewModel


<section class="product-details">
    <div class="container">
        <div class="row mt-4">


            <div class="col-sm" id="main-top-left">
                <div class="row g-0">
                    <div class="col-12 p-1">
                        <img src="/img/productimages/@Model.ProductItem.ImageUrl" alt="/img/placeholders/501x430.svg" class="img-lg" />
                    </div>
                    <div class="row g-0">
                        <div class="col-3 p-1">
                            <img src="/img/productimages/@Model.ProductItem.ImageUrl" alt="/img/placeholders/120x113.svg" class="img-sm" />
                        </div>
                        <div class="col-3 p-1">
                            <img src="/img/productimages/@Model.ProductItem.ImageUrl" alt="/img/placeholders/120x113.svg" class="img-sm" />
                        </div>
                        <div class="col-3 p-1">
                            <img src="/img/productimages/@Model.ProductItem.ImageUrl" alt="/img/placeholders/120x113.svg" class="img-sm" />
                        </div>
                        <div class="col-3 p-1">
                            <img src="/img/productimages/@Model.ProductItem.ImageUrl" class="img-sm" />
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-sm right" id="main-top-right">
                <div>
                    <h3>@Model.ProductItem.Name</h3>

                        <span class="col-8">Brand: @Model.ProductItem.Brand</span>
                        <span class="col-4 text-align-right"">(Article Number: @Model.ProductItem.ArticleNumber)</span>
         
                    <p class="pt-2">
                        @Model.ProductItem.Description
                    </p>
                        
                    <div class="product-rating pb-4">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                    <h3 class="product-price pb-3">SEK @Model.ProductItem.Price</h3>

                </div>
                <div class="">

                    <!--
                    <div class="d-flex my-4">
                        <div class="left">Size:</div>
                        <div class="d-flex gap-2 g-0">
                            <div class="size-value">S</div>
                            <div class="size-value">M</div>
                            <div class="size-value">L</div>
                            <div class="size-value">XL</div>
                        </div>
                    </div>
                    <div class="d-flex my-4">
                        <div class="left">Color:</div>
                        <div class="d-flex gap-2 g-0">
                            <div class="color-value">Choose an Option</div>
                        </div>
                    </div>
                    -->

                    <div class="d-flex my-4">
                        <div class="item-counter">
                            <button class="counter-box">-</button>
                            <div class="counter-box">X</div>
                            <button class="counter-box">+</button>
                        </div>
                        <button class="mx-3 btn-theme">Add to Cart</button>
                        <div class=""></div>
                    </div>
                    <span>
                        TAGS:
                        @foreach (var tag in @Model.AssociatedTags)
                        {
                            <span>@tag.Text</span>
                        }
                    </span>
                    <!--
                    <div class="row my-4">
                        <div class="left">Share:</div>
                        <div class="right d-flex justify-content-between g-0">
                            <a href="https://facebook.com" target="_blank">
                                <button class="round-button"><i class="fa-brands fa-facebook-f"></i></button>
                            </a>
                            <a href="https://instagram.com" target="_blank">
                                <button class="round-button"><i class="fa-brands fa-instagram"></i></button>
                            </a>
                            <a href="https://twitter.com" target="_blank">
                                <button class="round-button"><i class="fa-brands fa-twitter"></i></button>
                            </a>
                            <a href="https://google.com" target="_blank">
                                <button class="round-button"><i class="fa-brands fa-google"></i></button>
                            </a>
                            <a href="https://linkedin.com" target="_blank">
                                <button class="round-button"><i class="fa-brands fa-linkedin"></i></button>
                            </a>
                        </div>
                    </div>
                    -->

                </div>
            </div>

            <div class="row tabs my-4 px-3 g-0">
                <div class="col-3 tab-theme p-2">DESCRIPTION</div>
                <div class="col-3 tab-theme p-2">ADDITIONAL INFO</div>
                <div class="col-3 tab-theme p-2">REVIEWS</div>
                <div class="col-3 tab-theme p-2">SHIPPING & DELIVERY</div>
            </div>

            <div class="row tab-body p-3 g-0">

                <div class="row pb-3"><h4>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie.</h4></div>
                <div class="col-6">

                    <p>Way extensive and dejection get delivered deficient sincerity gentleman age. Too end instrument possession contrasted motionless. Calling offence six joy feeling. Coming merits and was talent enough far. Sir joy northward sportsmen education. Discovery incommode earnestly no he commanded if. Put still any about manor heard.
                    </p>

                    <ul class="mt-3">
                        <li>* Village did removed enjoyed explain nor ham saw calling talking.</li>
                    </ul>
                    <ul>
                        <li>* Securing as informed declared or margaret.</li>
                    </ul>
                    <ul>
                        <li>* Joy horrible moreover man feelings own shy.</li>
                    </ul>

                    <p>On even feet time have an no at. Relation so in confined smallest children unpacked delicate. Why sir end believe uncivil respect. Always get adieus nature day course for common. My little garret repair to desire he esteem.
                    </p>

                </div>
                <div class="col-6">
                    <img src="~/img/placeholders/469x356.svg" class="img-lg" />
                </div>

            </div>
        </div>
    </div>
</section>